<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="submitProfileForm(profileForm.value)" autocomplete="off">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <em class="text-danger pull-right" *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em class="text-danger pull-right" *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">First Name must have character only.</em>
        <input formControlName="firstName" [ngClass]="{'alert-danger': !validateFirstName()}" id="firstName" type="text" class="form-control" placeholder="First Name..."/>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <em class="text-danger pull-right" *ngIf="!validateLastName() && profileForm.controls.lastName.errors.required">Required</em>
        <em class="text-danger pull-right" *ngIf="!validateLastName() && profileForm.controls.lastName.errors.pattern">Last Name must have character only.</em>
        <input formControlName="lastName" [ngClass]="{'alert-danger': !validateLastName()}" id="lastName" type="text" class="form-control" placeholder="Last Name..."/>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>